<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{{ post.title }} {%if post %}|{% endif %} Jack Marchant</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
        <link href="/prism.css" rel="stylesheet" type="text/css" />
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <meta name="description" content="I'm a Software Engineer from Sydney. I like writing code and talking about it." />
        <meta property="og:title" content="Software Engineer" />
        <meta property="og:description" content="I'm a Software Engineer from Sydney. I like writing code and talking about it." />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body class="wrapper">
        <header>
            <h1 class="heading heading--title {% if post %}heading--home{% endif %}"><a href="/">Jack Marchant</a></h1>
            {% if not post %}
            <div class="blurb blurb--title">
                <img src="/profile-pic.jpg" width="100" />
                <p>Written by <a href="/">Jack Marchant</a>, a Software Engineer who writes about writing code. You should follow him on 
                <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/jackmarchant10">Twitter</a> or check out his code on 
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/jackmarchant">GitHub</a></p>
            </div>
            {% endif %}
        </header>
        <main>
            {% for post in posts %}
                <div class="post-listing">
                    <h3 class="heading heading--post"><a href="{{post.url}}">{{post.title}}</a></h3>
                    <p>{{ post.date }}</p>
                    {{ post.blurb | raw }}
                </div>
            {% endfor %}

        {% if post %}
            <div class="post">
                <h2 class="heading">{{ post.title }}</h2>
                <p>{{ post.date }}</p>
                {{ post.content|raw }}
            </div>
            <div class="post-footer">
                <hr>
                <div class="blurb">
                    <img src="/profile-pic.jpg" width="100" />
                    <p>Written by <a href="/">Jack Marchant</a>, a Software Engineer who writes about writing code. You should follow him on 
                    <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/jackmarchant10">Twitter</a> or check out his code on 
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/jackmarchant">GitHub</a></p>
                </div>
                <hr>
            </div>
        {% endif %}

        {% for post in listings %}
            <div class="post-listing">
                <h3 class="heading heading--post"><a href="{{post.url}}">{{post.title}}</a></h3>
                <p>{{ post.date }}</p>
                {{ post.blurb | raw }}
            </div>
        {% endfor %}
        </main>

        <script src="/prism.js"></script>

        <div class style="min-height: calc(100vh - 15rem); padding-bottom: 10rem; padding-top: 5rem; background: #EEEEEE;"><div class="l-center-container"><div class="sc-dxgOiQ gDVPix"><h1 size="3rem" color="#000" class="sc-ckVGcZ iqDtCP">Get notified when a new post is available</h1></div><div><div class="sc-bdVaJa iIDDUy"><div><form class="js-cm-form" id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="2BE4EF332AA2E32596E38B640E90561964E82AF3A0C5E963D77E262726BF6CBF87184D8700F1D62D5482BE15EC7F719A45365336872D9A7C05FE709A837840EA"><div size="base" class="sc-jzJRlG bMslyb"><div size="small" class="sc-jzJRlG liOVdz"><div><label size="0.875rem" color="#5d5d65" class="sc-gzVnrw dEVaGV">Email <span class="sc-dnqmqq iFTUZ">*</span></label><input autoComplete="Email" aria-label="Email" id="fieldEmail" maxLength="200" name="cm-zulkkh-zulkkh" required type="email" class="js-cm-email-input qa-input-email sc-iwsKbI iMsgpL" /></div></div><div size="base" class="sc-jzJRlG bMslyb"></div></div><button size="1rem" color="#fff" type="submit" class="js-cm-submit-button sc-iAyFgw efTFaG">Subscribe</button></form></div></div></div></div></div><style>.iIDDUy { background: rgb(255, 255, 255); border-radius: 0.3125rem; max-width: 35.25rem; margin-left: auto; margin-right: auto; padding: 2.5rem 2.75rem; position: relative; }.ebeRtN { align-items: flex-start; display: flex; }.iHsWXX { font-size: 0.875rem; padding-left: 0.5rem; overflow-wrap: break-word; word-break: break-word; font-family: Helvetica, Arial, sans-serif; color: rgb(67, 77, 93); }.jMsntP { color: rgb(221, 54, 42); font-weight: 400; font-size: 0.75rem; margin-left: 0.125rem; }.eKOoKL { flex-shrink: 0; height: 1rem; position: relative; top: 0.08rem; width: 1rem; }.dEVaGV { font-family: Helvetica, Arial, sans-serif; color: rgb(93, 93, 101); display: block; font-size: 0.875rem; font-weight: 400; margin-bottom: 0.5rem; }.iFTUZ { color: rgb(221, 54, 42); }.iMsgpL { appearance: none; background-color: rgb(255, 255, 255); border: 0px; border-radius: 0.1875rem; box-sizing: border-box; box-shadow: rgba(142, 154, 173, 0.1) 0px 2px 0px 0px inset, rgb(210, 215, 223) 0px 0px 0px 1px inset, rgb(255, 255, 255) 0px 1px 0px 0px; color: rgb(67, 77, 93); font-size: 0.875rem; line-height: 1.5; min-height: 2.8125rem; outline: 0px; padding: 0.75rem 1rem; transition: box-shadow 0.2s ease 0s; width: 100%; }.iMsgpL:focus { box-shadow: transparent 0px 0px 0px 0px inset, rgb(80, 156, 246) 0px 0px 0px 1px inset, rgba(80, 156, 246, 0.25) 0px 0px 0px 2px; }.bMslyb { margin-bottom: 1.5rem; }.liOVdz { margin-bottom: 1rem; }.hmAVkF { margin-bottom: 0rem; }.gDVPix { margin-left: auto; margin-right: auto; max-width: 29.125rem; padding-bottom: 3.125rem; }.iqDtCP { font-size: 3rem; text-align: center; letter-spacing: -1px; line-height: 1.17; -webkit-font-smoothing: antialiased; font-weight: 900; font-family: Lato, sans-serif; color: rgb(0, 0, 0); }.dtfhtf { font-size: 2em; margin: 0.67em 0px; font-weight: bold; color: rgb(0, 0, 0); }.czkECw { border-bottom: 1px solid rgb(210, 215, 223); margin-bottom: 0.75rem; padding-top: 0.75rem; }.bjObOo { border-bottom: 1px solid rgb(210, 215, 223); margin-bottom: 1.5rem; padding-top: 1.5rem; }.feTGgs { margin-bottom: 0.25rem; }.efTFaG { background-color: rgb(123, 177, 61); border: none; border-radius: 3px; color: rgb(255, 255, 255); display: inline-block; font-family: Helvetica, Arial, sans-serif; font-size: 1rem; font-style: normal; font-weight: 700; line-height: 1; outline: 0px; padding: 0.75rem 1.5rem; text-decoration: none; transition: background-color 0.1s ease-in 0s, box-shadow 0.1s ease-in 0s; }.efTFaG:hover { cursor: pointer; }.kAkJcy { white-space: pre-wrap; font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: rgb(67, 77, 93); }a, abbr, address, article, aside, b, blockquote, body, caption, cite, code, dd, details, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, label, legend, li, main, menu, nav, object, ol, p, pre, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, u, ul { border: 0px; margin: 0px; padding: 0px; }*, ::after, ::before { box-sizing: inherit; }html { font-family: "Helvetica Neue", Arial, sans-serif; font-size: 16px; }h1, h2, h3, h4, h5, h6, html { color: rgb(67, 77, 93); font-weight: 400; line-height: 1.5; }a { color: rgb(25, 169, 229); text-decoration: underline; }button, label, p { overflow-wrap: break-word; word-break: break-word; }</style><script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script><script>WebFont.load({google:{families:['Lato:900:latin','Lato:300:latin','Playfair+Display:700italic:latin','Merriweather:700:latin','Crete+Round::latin','PT+Sans+Narrow:700:latin']}});</script><script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
        
        {% if settings.environment == 'production' %}
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53035029-1"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-53035029-1');
            </script>
        {% endif %}
    </body>
</html>
