<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{{ post.title }} {%if post %}|{% endif %} Jack Marchant</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
        <link href="/prism.css" rel="stylesheet" type="text/css" />
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <meta name="description" content="I'm a Software Engineer from Sydney. I like writing code and talking about it." />
        <meta property="og:title" content="Software Engineer" />
        <meta property="og:description" content="I'm a Software Engineer from Sydney. I like writing code and talking about it." />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body class="wrapper">
        <header>
            <h1 class="heading heading--title {% if post %}heading--home{% endif %}"><a href="/">Jack Marchant</a></h1>
            {% if not post %}
            <div class="blurb blurb--title">
                <img src="/profile-pic.jpg" width="100" />
                <p>Written by <a href="/">Jack Marchant</a>, a Software Engineer who writes about writing code. You should follow him on 
                <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/jackmarchant10">Twitter</a> or check out his code on 
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/jackmarchant">GitHub</a></p>
            </div>
            {% endif %}
        </header>
        <main>
            {% for post in posts %}
                <div class="post-listing">
                    <h3 class="heading heading--post"><a href="{{post.url}}">{{post.title}}</a></h3>
                    <p>{{ post.date }}</p>
                    {{ post.blurb | raw }}
                </div>
            {% endfor %}

            {% if post %}
                <div class="post">
                    <h2 class="heading">{{ post.title }}</h2>
                    <p>{{ post.date }}</p>
                    {{ post.content|raw }}
                </div>
                <div class="post-footer">
                    <hr>
                    <div class="blurb">
                        <img src="/profile-pic.jpg" width="100" />
                        <p>Written by <a href="/">Jack Marchant</a>, a Software Engineer who writes about writing code. You should follow him on 
                        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/jackmarchant10">Twitter</a> or check out his code on 
                        <a target="_blank" rel="noopener noreferrer" href="https://github.com/jackmarchant">GitHub</a></p>
                    </div>
                </div>
            {% endif %}

            <div class="subscription">
                <h2 class="subscription__header">Get notified when a new post is available</h2>
                <form class="subscription__form js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="2BE4EF332AA2E32596E38B640E90561964E82AF3A0C5E963D77E262726BF6CBF87184D8700F1D62D5482BE15EC7F719A45365336872D9A7C05FE709A837840EA">
                    <div class="subscription__container">
                        <label class="subscription__label">Email</label>
                        <input placeholder="you@example.com" autocomplete="Email" aria-label="Email" class="subscription__input js-cm-email-input qa-input-email" id="fieldEmail" maxlength="200" name="cm-zulkkh-zulkkh" required="" type="email">
                    </div>
                    <button class="subscription__button" type="submit">Subscribe</button>
                </form>
                </div>
                <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
            </div>


            {% if listings %}
                <hr class="separator">
                <h2>But wait, there's more...</h2>
            {% endif %}
            {% for post in listings %}
                <div class="post-listing">
                    <h3 class="heading heading--post"><a href="{{post.url}}">{{post.title}}</a></h3>
                    <p>{{ post.date }}</p>
                    {{ post.blurb | raw }}
                </div>
            {% endfor %}
        </main>

        <script src="/prism.js"></script>

        {% if settings.environment == 'production' %}
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53035029-1"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-53035029-1');
            </script>
        {% endif %}
    </body>
</html>
